.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 3px #000;
}
